.header{
    --height: 94px;
    background-color: #186684;
    background-image: none;
    --borderTop: none;
    --borderBottom: none;
    --box-shadow: none;
}
.form{
    appearance: none;
    width: var(--form-field-width, 100%);
    height: var(--form-field-height, 40px);
    font-family: inherit;
    font-size: var(--form-font-size, 16px);
    color: var(--form-text-initial-color, var(--color));
    padding: var(--has-classic-forms, var(--form-field-padding, 0 12px));
    border-width: var(--form-field-border-width, 1px);
    border-style: var(--form-field-border-style, solid);
    border-color: var(--form-field-border-initial-color);
    border-radius: var(--has-classic-forms, var(--form-field-border-radius, 3px));
    background-color: var(--has-classic-forms, var(--form-field-initial-background));
    transition: all .12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}